.page {
  line-height: 2;
}

.page.margin {
  margin-right: 125mm;
}

@media print {
  @page {
    size: auto;
    margin: 10mm;
  }
  .page {
    line-height: 3;
  }
  .page.margin {
    margin-right: 50mm;
  }
  .header {
    font-size: 1.5rem !important;
  }
}
