.print {
  line-height: 2;
}

.print.margin {
  margin-right: 125mm;
}

@media print {
  @page {
    size: auto;
    margin: 25mm;
  }
  .print {
    line-height: 3;
  }
  .print.margin {
    margin-right: 50mm;
  }
}
